<div class="loaded sct-account">
    <!-- account-form -->
    <div class="row account-panel">
        <div class="col s12 z-depth-4 card-panel">
            <!-- Sign-in -->
            <% include ../elements/signin %>
            <!-- Sign-up Identity -->
            <% include ../elements/signup-id %>
            <!-- Sign-up -->
            <% include ../elements/signup %>
        </div>
    </div>
</div>