<html>
    <head>
        <!-- Include meta.ejs -->
        <% include ../elements/meta %>
        <!-- Include lib.ejs -->
        <% include ../elements/lib %>
    </head>
    <script>
        // define socket io here
        var socket = io();
    </script>
    <body>
        <!-- Include driver navbar -->
        <% include ../elements/driv-navbar %>

    </body>
</html>