<html>
    <head>
        <!-- Include meta.ejs -->
        <% include ../elements/meta %>
        <!-- Include lib.ejs -->
        <% include ../elements/lib %>
    </head>
    <body>
        <!-- Include navbar -->
        <% include ../elements/navbar %>

        <% include ../elements/helper %>
    </body>
</html>