<html>
    <head>
        <!-- Include meta.ejs -->
        <% include ../elements/meta %>
        <!-- Include lib.ejs -->
        <% include ../elements/lib %>
    </head>
    <body>
        <!-- Include start -->
        <% include ../layout/start %>

        <!-- Include account -->
        <% include ../layout/account %>
    </body>
</html>