<html>
    <head>
        <!-- Include meta.ejs -->
        <% include ../elements/meta %>
        <!-- Include lib.ejs -->
        <% include ../elements/lib %>
    </head>
    <body>
        <!-- Include navbar -->
        <% include ../elements/navbar %>

        <!-- Include riding -->
        <% include ../elements/pass-riding %>
        <% include ../elements/pass-riding-wait %>

        <!-- Include profile -->
        <% include ../elements/pass-profile %>

        <!-- Include helper -->
        <% include ../elements/pass-helper %>
    </body>
</html>