<html>
    <head>
        <!-- Include meta.ejs -->
        <% include ../elements/meta %>
        <!-- Include lib.ejs -->
        <% include ../elements/lib %>
    </head>
    <body>
        <!-- Include navbar -->
        <% include ../elements/navbar %>

        <!-- Include map -->
        <% include ../elements/pass-riding %>

        <!-- Include profile -->
        <% include ../elements/pass-profile %>
    </body>
</html>