<html>
    <head>
        <!-- Include meta.ejs -->
        <% include ../elements/meta %>
        <!-- Include lib.ejs -->
        <% include ../elements/lib %>
    </head>
    <body>
        <!-- Include navbar -->
        <% include ../elements/navbar %>

        <!-- Include riding -->
        <% include ../elements/pass-riding %>
        <% include ../elements/pass-riding-wait %>

        <!-- Include profile -->
        <% include ../elements/pass-profile %>

        <!-- Include monitor -->
        <% include ../elements/pass-monitor %>

        <!-- Include rating -->
        <% include ../elements/pass-rating %>

        <!-- Include message -->
        <% include ../elements/pass-message %>

        <!-- Include setting -->
        <% include ../elements/pass-setting %>

        <!-- Include helper -->
        <% include ../elements/pass-helper %>
    </body>
</html>