/** helpers/_mixin.scss **/


/* transform */

@mixin transform($transform) {
    transform: $transform;
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
}


/* transition */

@mixin transition($transition) {
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
}


/* user-select */

@mixin user-select($select) {
    user-select: $select;
    -webkit-user-select: $select;
    -moz-user-select: if ($select==none) -moz-none;
    -ms-user-select: $select;
}


/* ::selection */

@mixin -selection {
    background-color: $-selection-bg-color;
    color: $-selection-color;
    text-shadow: $-selection-text-shadow;
}

@mixin -selection-img {
    background-color: $-selection-img-bg-color;
    color: $-selection-img-color;
}


/* ::placeholder */

@mixin -placeholder {
    color: $-placeholder-color;
    font: {
        family: #{$-placeholder-font-family},
        sans-serif;
        size: $-placeholder-font-size;
    }
}


/* html */


/* body */

@mixin body {
    background-color: $body-background-color;
    overflow-x: $body-overflow-x !important;
    overflow-y: $body-overflow-y;
}


/* navbar */

@mixin nav-default {
    background-color: $nav-background-color;
}

@mixin nav-brand-logo {
    font-family: #{$nav-font-family},
    sans-serif;
    letter-spacing: $nav-letter-spacing;
    img {
        height: $nav-brand-icon-height;
        margin: $nav-brand-icon-margin;
        vertical-align: $nav-brand-icon-vertical-align;
        width: $nav-brand-icon-width;
    }
}

@mixin nav-side-nav {
    background-color: $nav-side-nav-background-color;
    color: $nav-side-nav-li-color;
}


/* start */

@mixin start-default {
    background-color: $str-background-color;
    height: $str-height;
    position: $str-position;
    vertical-align: $str-vertical-align;
    width: $str-width;
    z-index: $str-zindex;
}

@mixin start-logo {
    position: $str-position;
    top: $str-logo-top;
    text-align: $str-logo-text-align;
    vertical-align: $str-logo-vertical-align;
    width: $str-width;
    img {
        height: $str-logo-height;
        width: $str-logo-width;
    }
}


/* account */

@mixin account-default {
    background-color: $acc-background-color;
    display: $acc-display;
    height: $acc-height !important;
    position: $acc-position;
    vertical-align: $acc-vertical-align;
    width: $acc-width;
}

@mixin account-panel {
    display: $acc-panel-display;
    position: $acc-panel-position;
    vertical-align: $acc-panel-vertical-align;
    .card-panel {
        display: $acc-panel-card-display;
        height: $acc-panel-height;
        position: $acc-panel-position;
        left: $acc-panel-position-left;
        max-width: $acc-panel-max-width !important;
    }
}

@mixin account-signin {
    display: $acc-signin-display;
    vertical-align: $acc-form-vertical-align;
}

@mixin account-signup-id {
    display: $acc-signup-id-display;
    vertical-align: $acc-form-vertical-align;
}

@mixin account-signup {
    display: $acc-signup-display;
    ul {
        a {
            font: {
                family: $acc-signup-tab-font-family;
                size: $acc-signup-tab-font-size;
            }
            text-transform: $acc-signup-tab-text-transform;
        }
    }
}

@mixin account-logo {
    height: $acc-logo-height;
    font: {
        family: $acc-logo-font-family;
        size: $acc-logo-font-size;
    }
    max-width: $acc-logo-max-width;
}

@mixin account-input {
    margin: $acc-input-margin;
}


/* passenger */

@mixin passenger {
    overflow: $pass-overflow;
}

@mixin passenger-riding-map {
    height: $pass-riding-map-height;
    width: $pass-riding-map-width;
    z-index: $pass-riding-map-zindex;
}

@mixin passenger-trip {
    height: $pass-riding-trip-height;
    position: $pass-riding-trip-position;
    top: $pass-riding-trip-position-top;
    width: $pass-riding-trip-width;
    z-index: $pass-riding-trip-zindex !important;
}


/* toolbar */

@mixin toolbar-default {
    background-color: $tbar-background-color;
    height: $tbar-height;
    position: $tbar-position;
    bottom: $tbar-position-bottom;
    width: $tbar-width;
    z-index: $tbar-zindex;
    .row {
        margin: $tbar-margin;
        .col {
            padding: $tbar-padding;
            .btn {
                background-color: $tbar-background-color;
                border-radius: $tbar-border-radius;
                color: $tbar-color;
                height: $tbar-height;
                width: $tbar-width;
            }
        }
    }
}


/* collapsible */

@mixin collapsible {
    border: $colp-border;
    .collapsible-header {
        background-color: $colp-header-background-color;
        border-bottom: $colp-header-border-bottom;
        color: $colp-header-color;
    }
    .collapsible-body {
        background-color: $colp-body-background-color;
        color: $colp-body-color;
    }
}


/* collection */

@mixin collection-avatar {
    border: $coll-avatar-border;
    margin-bottom: $coll-avatar-ul-margin-bottom;
    .collection-header {
        @include collection-header;
    }
    .collection-item {
        @include collection-avatar-item;
    }
    li {
        .content-p {
            @include collection-content-p;
        }
        .secondary-content-p {
            @include collection-secondary-content-p;
            i {
                background-color: transparent !important;
                color: $coll-content-p-color !important;
            }
        }
    }
}

@mixin collection-avatar-contrast {
    @include collection-avatar;
    .collection-header {
        background-color: $light-yellow !important;
        color: $dark-brown;
    }
    .collection-item {
        background-color: $dark-brown !important;
        color: $light-yellow;
    }
    li {
        background-color: $dark-brown !important;
        border-bottom: $light-brown !important;
        color: $light-yellow;
        img {
            border-color: $light-brown !important;
        }
        .content-p {
            color: $light-yellow;
        }
        .secondary-content-p {
            color: $light-orange;
            i {
                color: $light-orange !important;
            }
        }
    }
}

@mixin collection-content-p {
    color: $coll-content-p-color;
    font: {
        family: #{$coll-content-p-font-family},
        sans-serif;
        size: $coll-content-p-font-size;
        weight: $coll-content-p-font-weight;
    }
}

@mixin collection-secondary-content-p {
    color: $coll-content-p-color;
    font: {
        family: #{$coll-content-p-font-family},
        sans-serif;
        size: $coll-secondary-content-p-font-size;
        weight: $coll-content-p-font-weight;
    }
}

@mixin collection-header {
    background-color: $dark-brown !important;
    color: $light-yellow;
}

@mixin collection-avatar-item {
    border-bottom: $coll-avatar-li-border-bottom !important;
    background-color: $coll-avatar-li-background-color !important;
    min-height: $coll-avatar-li-min-height !important;
    padding-bottom: $coll-avatar-li-padding-bottom;
    i {
        background-color: $coll-avatar-i-background-color !important;
        color: $coll-avatar-i-color !important;
    }
}


/* card */

@mixin card-default {
    .card-header {
        @include card-header;
    }
    .card-title {
        @include card-default-title;
    }
    .card-content {
        @include card-content;
    }
    .card-content-contrast {
        @include card-content-contrast;
    }
}

@mixin card-theme {
    .card-title {
        @include card-theme-title;
    }
    .card-more {
        @include card-more;
    }
    .card-content {
        @include card-content;
    }
    .card-reveal {
        @include card-reveal;
    }
    .card-stat {
        @include card-stat;
    }
}

@mixin card-profile {
    .card-name {
        @include card-name;
    }
    .card-avatar {
        @include card-avatar;
    }
    .card-more {
        @include card-more;
    }
    .card-content {
        @include card-content;
    }
    .card-content-contrast {
        @include card-content-contrast;
    }
    .card-reveal {
        @include card-reveal;
    }
    .card-stat {
        @include card-stat;
    }
}

@mixin card-trip {
    @include card-default;
    .card-content {
        padding: $card-trip-content-padding !important;
    }
}

@mixin card-chat {
    .card-content {
        background-color: $card-chat-content-background-color;
        padding: $card-char-content-padding;
        textarea {
            border: $card-chat-content-textarea-border;
            border-radius: $card-chat-content-textarea-border-radius;
            color: $card-chat-content-textarea-color;
            height: $card-char-content-textarea-height;
            margin-bottom: $card-chat-content-textarea-margin-bottom;
        }
    }
    .card-action {
        background-color: $card-chat-action-background-color;
        i {
            color: $card-chat-action-i-color;
        }
        input {
            border-bottom-color: $card-chat-action-input-border-bottom-color;
            color: $card-chat-action-input-color;
            margin-bottom: $card-chat-action-input-margin-bottom;
        }
        label {
            color: $card-chat-action-label-color;
        }
    }
}

@mixin card-header {
    background-color: $card-header-background-color;
    padding: $card-header-padding;
    .row {
        margin-bottom: 10px !important;
    }
}

@mixin card-default-title {
    color: $card-default-title-color;
    margin: $card-default-title-margin;
    padding: $card-default-title-padding;
}

@mixin card-theme-title {
    color: $card-theme-title-color;
    margin: $card-theme-title-margin !important;
    padding: $card-theme-title-padding !important;
}

@mixin card-more {
    background-color: $card-more-background-color !important;
    i {
        color: $card-more-i-color !important;
    }
}

@mixin card-name {
    @include card-theme-title;
    position: $card-profile-name-posiiton;
    left: $card-profile-name-position-left !important;
    padding: $card-profile-name-padding !important;
}

@mixin card-avatar {
    height: $card-profile-avatar-height;
    width: $card-profile-avatar-width;
}

@mixin card-content {
    background-color: $card-theme-content-background-color;
    color: $card-theme-content-color;
    padding: $card-theme-content-padding;
    .row {
        margin: $card-theme-content-row-margin;
    }
}

@mixin card-content-contrast {
    @include card-content;
    background-color: $card-theme-content-contrast-background-color;
    color: $card-theme-content-contrast-color;
}

@mixin card-stat {
    margin: $card-theme-stat-margin;
}

@mixin card-reveal {
    background-color: $card-theme-reveal-background-color;
    color: $card-theme-reveal-color;
}


/* modal */

@mixin modal-default {
    .modal-content {
        @include modal-content;
    }
    .modal-footer {
        @include modal-footer;
    }
}

@mixin modal-wait {
    @include modal-default;
    .modal-footer {
        overflow: $mdl-wait-footer-overflow;
        justify-content: $mdl-wait-footer-justify-align;
        .spinner-layer {
            border-color: $mdl-wait-footer-spinner-border-color;
        }
    }
}

@mixin modal-form {
    @include modal-default;
    .modal-content {
        input {
            border-bottom-color: $mdl-form-content-input-border-bottom-color;
            color: $mdl-form-input-color;
        }
        label {
            color: $mdl-form-input-color;
        }
    }
}

@mixin modal-succ {
    @include modal-default;
    .modal-content {
        border: $mdl-succ-content-border;
        padding-bottom: $mdl-succ-content-padding-bottom;
        li {
            border: $mdl-succ-content-li-border;
            min-height: $mdl-succ-content-li-min-height;
            padding-bottom: $mdl-succ-content-li-padding-bottom;
            i {
                color: $mdl-succ-content-i-color;
            }
        }
    }
}

@mixin modal-chat {
    @include modal-form;
    .modal-content {
        @include modal-content;
        background-color: $light-gray !important;
        padding: 12px !important;
        form {
            margin-bottom: 0;
            .modal-textarea {
                background-color: $white;
            }
            .modal-input {
                color: $dark-brown;
                margin-bottom: 0;
                input {
                    color: $dark-brown;
                    &::-webkit-input-placeholder {
                        @include -placeholder;
                        color: $dark-brown;
                    }
                    &::-moz-placeholder {
                        @include -placeholder;
                        color: $dark-brown;
                    }
                    &:-ms-input-placeholder {
                        @include -placeholder;
                        color: $dark-brown;
                    }
                }
            }
            .modal-type {
                margin-top: 10px;
            }
        }
    }
}

@mixin modal-content {
    background-color: $mdl-content-background-color;
    color: $mdl-content-color;
}

@mixin modal-footer {
    background-color: $mdl-footer-background-color;
    button {
        color: $mdl-footer-color;
    }
}


/* button */

@mixin btn-default {
    background-color: $light-yellow;
    color: $dark-brown;
}

@mixin btn-contrast {
    background-color: $dark-brown;
    color: $light-yellow;
}

@mixin btn-warning {
    background-color: $dark-orange;
    color: $white;
}

@mixin btn-identity {
    font: {
        size: $btn-identity-font-size;
        weight: $btn-identity-font-weight;
    }
    height: $btn-identity-height;
    line-height: $btn-identity-line-height;
}