/** helpers/_mixin.scss **/


/* transform */

@mixin transform($transform) {
    transform: $transform;
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
}


/* transition */

@mixin transition($transition) {
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
}


/* user-select */

@mixin user-select($select) {
    user-select: $select;
    -webkit-user-select: $select;
    -moz-user-select: if ($select==none) -moz-none;
    -ms-user-select: $select;
}


/* ::selection */

@mixin -selection {
    background-color: $-selection-bg-color;
    color: $-selection-color;
    text-shadow: $-selection-text-shadow;
}

@mixin -selection-img {
    background-color: $-selection-img-bg-color;
    color: $-selection-img-color;
}


/* ::placeholder */

@mixin -placeholder {
    color: $-placeholder-color;
    font: {
        family: #{$-placeholder-font-family},
        sans-serif;
        size: $-placeholder-font-size;
    }
}


/* html */

@mixin html {
    //height: $html-height;
    overflow: $html-overflow !important;
    //width: $html-width;
}


/* body */

@mixin body {
    //height: $body-height;
    overflow: $body-overflow !important;
    //width: $body-width;
}


/* navbar */

@mixin nav-default {
    background-color: $nav-background-color;
}

@mixin nav-brand-logo {
    font-family: #{$nav-font-family},
    sans-serif;
    letter-spacing: $nav-letter-spacing;
    img {
        height: $nav-brand-icon-height;
        margin: $nav-brand-icon-margin;
        vertical-align: $nav-brand-icon-vertical-align;
        width: $nav-brand-icon-width;
    }
}

@mixin nav-side-nav {
    background-color: $nav-side-nav-background-color;
    color: $nav-side-nav-li-color;
}


/* start */

@mixin start-default {
    background-color: $str-background-color;
    height: $str-height;
    position: $str-position;
    vertical-align: $str-vertical-align;
    width: $str-width;
    z-index: $str-zindex;
}

@mixin start-logo {
    position: $str-position;
    top: $str-logo-top;
    text-align: $str-logo-text-align;
    vertical-align: $str-logo-vertical-align;
    width: $str-width;
    img {
        height: $str-logo-height;
        width: $str-logo-width;
    }
}


/* account */

@mixin account-default {
    background-color: $acc-background-color;
    display: $acc-display;
    height: $acc-height !important;
    position: $acc-position;
    vertical-align: $acc-vertical-align;
    width: $acc-width;
}

@mixin account-panel {
    display: $acc-panel-display;
    position: $acc-panel-position;
    vertical-align: $acc-panel-vertical-align;
    .card-panel {
        display: $acc-panel-card-display;
        height: $acc-panel-height;
        position: $acc-panel-position;
        left: $acc-panel-position-left;
        max-width: $acc-panel-max-width !important;
    }
}

@mixin account-signin {
    display: $acc-signin-display;
    vertical-align: $acc-form-vertical-align;
}

@mixin account-signup-id {
    display: $acc-signup-id-display;
    vertical-align: $acc-form-vertical-align;
}

@mixin account-signup {
    display: $acc-signup-display;
    ul {
        a {
            font: {
                family: $acc-signup-tab-font-family;
                size: $acc-signup-tab-font-size;
            }
            text-transform: $acc-signup-tab-text-transform;
        }
    }
}

@mixin account-logo {
    height: $acc-logo-height;
    font: {
        family: $acc-logo-font-family;
        size: $acc-logo-font-size;
    }
    max-width: $acc-logo-max-width;
}

@mixin account-input {
    margin: $acc-input-margin;
}


/* passenger */

@mixin passenger {
    overflow: $pass-overflow;
}

@mixin passenger-profile {
    display: $pass-profile-display;
    margin-top: $pass-profile-margin-top;
}

@mixin passenger-profile-content {
    background-color: $pass-profile-background-color;
}

@mixin passenger-profile-name {
    left: $pass-profile-name-position-left !important;
    padding: $pass-profile-name-padding !important;
}

@mixin passenger-profile-edit {
    margin-top: $pass-profile-edit-margin-top;
    i {
        background-color: $pass-profile-edit-i-background-color !important;
        color: $pass-profile-edit-i-color !important;
    }
}

@mixin passenger-profile-avatar {
    cursor: $pass-profile-avatar-cursor;
    height: $pass-profile-avatar-img-height;
    position: $pass-profile-avatar-position;
    top: $pass-profile-avatar-position-top;
    width: $pass-profile-avatar-img-width;
    z-index: $pass-profile-avatar-zindex;
}

@mixin passenger-profile-stat {
    margin: $pass-profile-stat-margin;
}

@mixin passenger-profile-reveal {
    border: $pass-profile-reveal-border !important;
    li {
        border-bottom: $pass-profile-reveal-li-border;
        min-height: $pass-profile-reveal-min-height !important;
        i {
            background-color: $pass-profile-reveal-i-background-color;
            color: $pass-profile-reveal-i-color;
        }
    }
}

@mixin passenger-riding-map {
    height: $pass-riding-map-height;
    width: $pass-riding-map-width;
}

@mixin passenger-riding-toolbar {
    background-color: $pass-riding-toolbar-background-color;
    height: $pass-riding-toolbar-height;
    position: $pass-riding-toolbar-position;
    bottom: $pass-riding-toolbar-position-bottom;
    width: $pass-riding-toolbar-width;
    z-index: $pass-riding-toolbar-zindex;
    .row {
        margin: $pass-riding-toolbar-margin;
        .col {
            padding: $pass-riding-toolbar-padding;
            .btn {
                background-color: $pass-riding-toolbar-background-color;
                border-radius: $pass-riding-toolbar-border-radius;
                color: $pass-riding-toolbar-color;
                height: $pass-riding-toolbar-height;
                width: $pass-riding-toolbar-width;
            }
        }
    }
}

@mixin passenger-helper-help {}


/* modal */

@mixin mdl-content {
    background-color: $mdl-content-background-color;
    color: $mdl-content-color;
    padding-bottom: $mdl-succ-content-padding-bottom;
    .collection {
        border: $mdl-succ-content-border;
        li {
            border-bottom: $mdl-succ-content-li-border;
            background-color: $mdl-succ-content-background-color;
            min-height: $mdl-succ-content-li-min-height !important;
            padding-bottom: $mdl-succ-content-li-padding-bottom;
            i {
                background-color: $mdl-succ-content-i-background-color !important;
                color: $mdl-succ-content-i-color !important;
            }
        }
    }
}

@mixin mdl-footer {
    background-color: $mdl-footer-background-color;
    button {
        color: $mdl-footer-color;
    }
}


/* button */

@mixin btn-identity {
    font: {
        size: $btn-identity-font-size;
        weight: $btn-identity-font-weight;
    }
    height: $btn-identity-height;
    line-height: $btn-identity-line-height;
}