/** helpers/variables.scss **/


/* ratio variables */

$full-perc: 100%;
$full-vh: 100vh;
$full-vw: 100vw;
$full-px: 100px;

/* border variables */

$border-radius: 300px;
$border-width: 2px;

/* colors variables */

$light-yellow: rgba(255, 207, 71, 1.0);
$dark-yellow: rgba(246, 180, 30, 1.0);
$light-orange: rgba(231, 149, 53, 1.0);
$dark-orange: rgba(219, 90, 60, 1.0);
$light-brown: rgba(114, 89, 92, 1.0);
$dark-brown: rgba(63, 49, 51, 1.0);
$skin: rgba(244, 193, 129, 1.0);
$light-gray: rgba(216, 216, 216, 1.0);
$dark-gray: rgba(51, 51, 51, 1.0);
$white: rgba(255, 255, 255, 1.0);
$black: rgba(0, 0, 0, 1.0);
$color-none: transparent;
$color-fb: rgba(59, 89, 152, 1.0);
$color-gp: rgba(219, 90, 60, 1.0);
$color-tw: rgba(64, 153, 255, 1.0);
$color-ig: rgba(92, 61, 46, 1.0);
$color-gh: rgba(51, 51, 51, 1.0);

/* cursor variables */

$cursor: pointer;

/* font-family */

$font-family-title: 'Metrophobic';
$font-family-text: 'Yantramanav';
$font-family-chi: '微軟正黑體';

/* font-size */

$h1-px: 36px;
$h2-px: 30px;
$h3-px: 24px;
$h4-px: 18px;
$h5-px: 14px;
$h6-px: 12px;
$p-px: 12px;
$a-px: 12px;
$h1-rem: 1.8rem;
$h2-rem: 1.7rem;
$h3-rem: 1.6rem;
$h4-rem: 1.5rem;
$h5-rem: 1.4rem;
$h6-rem: 1.3rem;
$p-rem: 1.2rem;
$a-rem: 1.2rem;

/* font-weight */

$font-normal: 400;
$font-medium: 550;
$font-bold: 700;

/* media queries variables */

$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

/* view */

// height
$html-height: 100vh;
$body-height: 100%;
// overflow
$body-overflow: hidden;
// width
$html-width: 100vw;
$body-width: 100%;

/* inline elements */

// font
$h-font-family: $font-family-title;
$h-font-weight: $font-bold;
$p-font-size: $p-rem;
// letter
$h-letter-spacing: 2px;
// line
$p-line-height: 1.5;
// margin
$p-margin-bottom: 20px;

/* ::selection */

// ::selection background
$-selection-bg-color: $dark-brown;
$-selection-img-bg-color: $color-none;
// ::selection color
$-selection-color: $light-yellow;
$-selection-img-color: $-selection-color;
// ::selection text
$-selection-text-shadow: none;

/* ::placeholder */

// ::placeholder color
$-placeholder-color: $light-yellow;
// ::placeholder font
$-placeholder-font-family: $font-family-text;
$-placeholder-font-size: $h5-px;

/* navbar */

// nav background 
$nav-background-color: $light-yellow;
$nav-side-nav-background-color: $light-yellow;
// nav color
$nav-side-nav-li-color: $dark-brown;
// nav font
$nav-font-family: $font-family-title;
// nav height
$nav-brand-icon-height: 80%;
// nav letter 
$nav-letter-spacing: 5px;
// nav margin
$nav-brand-icon-margin: 0 2.5px;
// nav vertical
$nav-brand-icon-vertical-align: middle;
// nav width
$nav-brand-icon-width: auto;

/* start */

// str background
$str-background-color: $light-orange;
// str height
$str-height: 100vh;
$str-logo-height: 25%;
// str position
$str-position: relative;
$str-logo-top: 35%;
// str text
$str-logo-text-align: center;
// str vertical
$str-vertical-align: middle;
$str-logo-vertical-align: middle;
// str width
$str-width: 100vw;
$str-logo-width: auto;
// str z-index
$str-zindex: 100;

/* account */

// acc background
$acc-background-color: $light-orange;
// acc border
$acc-panel-border-radius: 2px;
// acc color
$acc-title-color: $white;
// acc display
$acc-display: table;
$acc-panel-display: table-cell;
$acc-panel-card-display: table;
$acc-signin-display: table-cell;
$acc-signup-id-display: table-cell;
$acc-signup-display: table-cell;
// acc font
$acc-logo-font-family: $font-family-title;
$acc-logo-font-size: $h4-rem;
$acc-signup-tab-font-family: $font-family-text;
$acc-signup-tab-font-size: 1.0rem;
// acc height
$acc-height: 100vh;
$acc-panel-height: 90vh;
$acc-logo-height: auto;
// acc margin
$acc-panel-margin: .5rem 0 1rem 0;
$acc-input-margin: 0;
// acc ppadding
$acc-panel-padding: auto;
// acc position
$acc-position: absolute;
$acc-panel-position: relative;
$acc-panel-position-left: 5%;
// acc text
$acc-panel-text-align: center;
$acc-signup-tab-text-transform: none;
// acc vertical
$acc-vertical-align: middle;
$acc-panel-vertical-align: middle;
$acc-form-vertical-align: middle;
// acc width
$acc-width: 100vw;
$acc-panel-max-width: 90%;
$acc-logo-max-width: 50%;

/* passenger */

// pass background
$pass-riding-toolbar-background-color: $light-yellow;
$pass-riding-modal-succ-i-background-color: $dark-brown;
$pass-riding-wait-monitor-background-color: $light-yellow;
$pass-riding-wait-monitor-i-background-color: $dark-brown;
$pass-riding-wait-notice-background-color: $dark-brown;
$pass-riding-wait-notice-detail-background-color: $light-gray;
// pass border
$pass-riding-toolbar-border-radius: 0;
$pass-riding-wait-monitor-border: none;
$pass-riding-wait-monitor-li-border: none;
// pass color
$pass-riding-toolbar-color: $dark-brown;
$pass-riding-modal-succ-i-color: $light-yellow;
$pass-riding-wait-monitor-i-color: $light-yellow;
// pass display
$pass-profile-display: block;
// pass font
$pass-riding-toolbar-font-weight: $font-bold;
// pass height
$pass-riding-map-height: 84vh;
$pass-riding-wait-notice-height: 34vh;
$pass-riding-monitor-height: 57vh;
$pass-riding-toolbar-height: 10vh;
$pass-riding-wait-monitor-li-min-height: 64px;
// pass line
$pass-riding-toolbar-line-height: 10vh;
// pass margin
$pass-profile-margin-top: 0;
$pass-riding-toolbar-margin: 0;
$pass-riding-wait-notice-margin: 0;
// pass overflow
$pass-riding-monitor-overflow-y: auto;
// pass padding
$pass-riding-toolbar-padding: 0;
$pass-riding-wait-monitor-padding-bottom: 6px;
$pass-riding-wait-monitor-li-padding-bottom: 0;
// pass position
$pass-riding-toolbar-position: absolute;
$pass-riding-toolbar-position-bottom: 0;
$pass-riding-wait-monitor-position: relative;
// pass text
$pass-riding-toolbar-text-align: center;
// pass vertical
$pass-riding-toolbar-vertical-align: middle;
// pass width
$pass-riding-map-width: 100%;
$pass-riding-wait-notice-width: 100%;
$pass-riding-toolbar-width: 100%;
$pass-riding-wait-monitor-width: 100%;
// pass z-index
$pass-riding-toolbar-zindex: 10;

/* collection */

// coll background
$coll-avatar-li-background-color: $light-yellow;
$coll-avatar-i-background-color: $dark-brown;
// coll border
$coll-avatar-border: none;
$coll-avatar-li-border-bottom: none;
// coll color
$coll-avatar-i-color: $light-yellow;
$coll-content-p-color: $dark-orange;
// coll font
$coll-content-p-font-family: $font-family-text;
$coll-content-p-font-size: $h6-rem;
$coll-secondary-content-p-font-size: $h5-rem;
// coll height
$coll-avatar-li-min-height: 64px;
// coll margin
$coll-avatar-ul-margin-bottom: 0;
// coll padding
$coll-avatar-li-padding-bottom: 0;
// coll weight
$coll-content-p-font-weight: $font-bold;

/* card */

// card background
$card-header-content-background-color: $light-yellow;
$card-header-reveal-background-color: $light-yellow;
$card-more-background-color: $dark-brown;
// card color
$card-header-title-color: $dark-brown;
$card-header-content-color: $dark-brown;
$card-header-reveal-color: $dark-brown;
$card-more-i-color: $light-yellow;
// card height
$card-profile-avatar-height: 60px;
// card margin
$card-header-stat-margin: 0;
// card position
$card-profile-name-posiiton: absolute;
$card-profile-name-position-left: 100px;
$card-profile-name-padding: 0;
// card width
$card-profile-avatar-width: $card-profile-avatar-height;

/* modal */

// mdl background
$mdl-content-background-color: $light-yellow;
$mdl-footer-background-color: $dark-brown;
$mdl-succ-content-background-color: $light-yellow;
$mdl-succ-content-i-background-color: $dark-brown;
// mdl border
$mdl-form-content-input-border-bottom-color: $dark-brown;
$mdl-succ-content-border: none;
$mdl-succ-content-li-border: none;
$mdl-wait-footer-spinner-border-color: $light-yellow;
// mdl color
$mdl-content-color: $dark-brown;
$mdl-footer-color: $light-yellow;
$mdl-form-input-color: $dark-brown;
$mdl-succ-content-i-color: $light-yellow;
// mdl height
$mdl-succ-content-li-min-height: 64px;
// mdl justify-align
$mdl-wait-footer-justify-align: center;
// mdl overflow
$mdl-wait-footer-overflow: hidden;
// mdl padding
$mdl-succ-content-padding-bottom: 6px;
$mdl-succ-content-li-padding-bottom: 0;

/* button */

// btn font
$btn-identity-font-size: $h2-rem;
$btn-identity-font-weight: $font-bold;
// btn height
$btn-identity-height: 20%;
// btn line
$btn-identity-line-height: 7.5rem;