<nav class="nav-default">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><img src="logo/logo_icon.png" alt="">SCABER</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse">
            <i class="fa fa-bars"></i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">個人</a></li>
            <li><a href="#">乘車</a></li>
            <li><a href="#">訊息</a></li>
            <li><a href="#">評價</a></li>
            <li><a href="#">設定</a></li>
            <li><a href="#">幫助</a></li>
            <li><a href="#">登出</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li>
                <div class="userView">
                    <div class="background">
                        <img src="driver.png">
                    </div>
                    <a href="#!user"><img class="circle" src="driver/unknown.png"></a>
                    <a href="#!name"><span class="white-text name">Name</span></a>
                    <a href="#!email"><span class="white-text email">mail@gmail.com</span></a>
                </div>
            </li>
            <li class="nav-tab"><a href="#"><i class="material-icons">account_circle</i>個人</a></li>
            <li class="nav-tab"><a href="#"><i class="material-icons">work</i>乘車</a></li>
            <li class="nav-tab"><a href="#"><i class="material-icons">message</i>訊息</a></li>
            <li class="nav-tab"><a href="#"><i class="material-icons">grade</i>評價</a></li>
            <li class="nav-tab"><a href="#"><i class="material-icons">settings</i>設定</a></li>
            <li class="nav-tab"><a href="#"><i class="material-icons">info_outline</i>幫助</a></li>
            <li class="nav-tab"><a href="#"><i class="material-icons">power_settings_new</i>登出</a></li>
        </ul>
    </div>
</nav>