<div class="pass-pages pass-helper" id="pass-helper">
    <div class="pass-header" id="header">
        <div class="row">
            <div class="col s12 m6">
                <div class="card card-theme">
                    <div class="card-image">
                        <img src="driver.png">
                        <span class="card-title">幫助</span>
                    </div>
                    <div class="card-content">
                        <p>透過平台其他使用者的互相幫助，來達成安全的目的！</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pas-help">
        <ul class="collapsible" data-collapsible="expandable">
            <li>
                <div class="collapsible-header"><i class="material-icons">thumb_up</i>安全監督</div>
                <div class="collapsible-body">
                    <span>透過平台其他使用者的互相幫助，來達成安全的目的！</span>
                    <br>
                    <span>也可以直接使用我們的叫車服務體驗看看！</span>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">textsms</i>公開平價</div>
                <div class="collapsible-body">
                    <span>每次搭車過後都可以對該名司機做出評價！</span>
                    <br>
                    <span>並且可以在使用者分享平台中察看！</span>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">supervisor_account</i>開放整合</div>
                <div class="collapsible-body">
                    <span>結合原本在地的小黃資源，並整合大大小小合法營業車行</span>
                    <br>
                    <span>來完成這些任務！</span>
                </div>
            </li>
        </ul>
    </div>
</div>