<div class="pass-pages pass-monitor" id="pass-test2">
    <div class="pass-header" id="header">
        <div class="row">
            <div class="col s12 m6">
                <div class="card card-theme">
                    <div class="card-image">
                        <img src="driver.png">
                        <span class="card-title">監督</span>
                    </div>
                    <div class="card-content">
                        <div class="card-stat row">
                            <div class="col s4 center-align">
                                <h4 class="card-title grey-text text-darken-4"><%= passenger_profile.cash %></h4>
                                <p class="medium-small grey-text text-darken-2">優惠點數</p>                        
                            </div>
                            <div class="col s4 center-align">
                                <h4 class="card-title grey-text text-darken-4"><%= passenger_profile.ride %></h4>
                                <p class="medium-small grey-text text-darken-2">乘車次數</p>                        
                            </div>                    
                            <div class="col s4 center-align">
                                <h4 class="card-title grey-text text-darken-4"><%= passenger_profile.case %></h4>
                                <p class="medium-small grey-text text-darken-2">守護次數</p>                        
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pass-monitor" id="monitor">
        <ul class="collection collection-avatar" id="pass-monitor-monitor">
            <li class="collection-item avatar">
                <img class="circle" src="driver/unknown.png" alt>
                <p class="title user-name" id="user-name">[name]</p>
                <p class="user-phone" id="user-phone">[phone]</p>
                <button class="secondary-content waves-effect waves-green btn" onclick="triggerPassengerMonitorModal('join');">安全守護</button>
            </li>
        </ul>
    </div>
</div>

<!-- Modal waiting to enter monitor -->
<div class="modal modal-join" id="modal-join">
    <div class="modal-content">
        <h4>等候加入守護！</h4>
        <p>請您耐心等待，我們會將您加入 <span class="monitor-pers" id="monitor-pers"></span >安全守護</p>
    </div>
    <div class="modal-footer valign-wrapper">
        <div class="preloader-wrapper right-align small active">
            <div class="spinner-layer">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>