<div class="pass-pages pass-trip" id="pass-trip">
    <div class="row">
        <div class="col s12 m6">
            <div class="card card-trip">
                <div class="card-content card-content-contrast">
                    <div class="row">
                        <div class="col s6 m6 l6 center-align">
                            <div class="card-trip-info">
                                <p class="medium-small">預估車程</p>
                                <h5>00:00 </h5>
                            </div>
                        </div>
                        <div class="col s6 m6 l6 center-align">
                            <div class="card-trip-info">
                                <p class="medium-small">預估車資</p>
                                <h5>約 0 元</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="toolbar pass-toolbar-monitor" id="pass-toolbar-monitor">
        <div class="row">
            <div class="col s12 m12 l12">
                <button class="waves-effect waves-light btn btn-large" onclick="triggerPassengerBookModal('test');">聊天室
                    <i class="material-icons right">textsms</i>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal viewing monitor -->
<div class="modal bottom-sheet modal-chat" id="modal-chat">
    <div class="modal-content">
        <form>
            <div class="modal-input modal-textarea">
                <textarea class="materialize-textarea" data-length="1000" disabled></textarea>
            </div>
            <div class="row modal-input modal-type">
                <div class="input-field col s12">
                    <i class="material-icons prefix">textsms</i>
                    <input id="message-input" type="text" placeholder=“輸入訊息”>
                    <label for="message-input">Messsage...</label>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal finish path routing -->
<div class="modal modal-finish" id="modal-finish">
    <div class="modal-content">
        <h5>SCABER 旅程結束！</h5>
        <ul class="collection collection-avatar">
            <li class="collection-item avatar">
                <i class="material-icons circle">timer</i> 
                <p class="title">本趟旅程耗時</p>
                <p class="content-p" id="driver-name">[consume]</p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle">favorite</i> 
                <p class="title">本趟旅程守護人數</p>
                <p class="content-p" id="driver-name">[number]</p>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-green btn-flat">關閉視窗</button>
        <button class="modal-action modal-close waves-effect waves-green btn-flat" id="startBtn">給與評價</button>
    </div>
</div>