<div class="pass-pages pass-riding-wait" id="pass-riding-wait">
    <div class="row">
        <div class="col s12 m6">
            <div class="card card-default">
                <div class="card-header">
                    <p class="card-title center-align">約 [arrival] 分鐘抵達</p>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col s6 m6 l6 center-align">
                            <div class="card-travel-info">
                                <p class="medium-small">司機姓名</p>
                                <h5>[name]</h5>
                            </div>
                        </div>
                        <div class="col s6 m6 l6 center-align">
                            <div class="card-travel-info">
                                <p class="medium-small">車牌號碼</p>
                                <h5>[licence]</h5>
                            </div>
                        </div>
                        <div class="col s6 m6 l6 center-align">
                            <div class="card-travel-info">
                                <p class="medium-small">手機號碼</p>
                                <h5>[phone]</h5>
                            </div>
                        </div>
                        <div class="col s6 m6 l6 center-align">
                            <div class="card-travel-info">
                                <p class="medium-small">車輛型號</p>
                                <h5>[model]</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="col s12 m12 l12 waves-effect waves-green btn">檢視狀態</button>
                </div>
            </div>
        </div>
    </div>
    <div class="pass-monitor" id="monitor">
        <ul class="collection collection-avatar" id="pass-riding-wait-monitor">
            <li class="collection-item avatar">
                <img class="circle" src="driver/unknown.png" alt>
                <p class="title user-name" id="user-name">SCABER Boy</p>
                <p class="user-phone" id="user-phone">0987654321</p>
                <button class="secondary-content waves-effect waves-green btn">取消監督</button>
            </li>
        </ul>
    </div>
</div>