<div class="pass-pages pass-setting" id="pass-setting">
    <div class="pass-header" id="header">
        <div class="row">
            <div class="col s12 m6">
                <div class="card card-header">
                    <div class="card-image">
                        <img src="driver.png">
                        <span class="card-title">設定</span>
                    </div>
                    <div class="card-content">
                        <p>透過平台其他使用者的互相幫助，來達成安全的目的！</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>