<div class="pass-pages pass-riding" id="pass-riding">
    <div class="pass-map" id="map"></div>
    <div class="pass-toolbar">
        <div class="row">
            <div class="col s6 m6 l6">
                <button class="waves-effect waves-light btn btn-large">預約乘車
                    <i class="material-icons right">event</i>
                </button>
            </div>
            <div class="col s6 m6 l6">
                <button class="waves-effect waves-light btn btn-large">立即乘車
                    <i class="material-icons right">local_taxi</i>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Google Map -->
<script>
function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: { 
            lat: 25.040606, 
            lng: 121.536547 
        }
    });
}
</script>

<!-- Google Map API -->
<script src="https://maps.googleapis.com/maps/api/js??sensor=false&libraries=places&callback=initMap"></script>