<div class="pass-pages pass-travel" id="pass-travel">
    <div class="row">
        <div class="col s12 m6">
            <div class="card card-travel">
                <div class="card-content card-content-contrast">
                    <div class="row">
                        <div class="col s6 m6 l6 center-align">
                            <div class="card-travel-info">
                                <p class="medium-small">預估車程</p>
                                <h5>00:00 </h5>
                            </div>
                        </div>
                        <div class="col s6 m6 l6 center-align">
                            <div class="card-travel-info">
                                <p class="medium-small">預估車資</p>
                                <h5>約 0 元</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="toolbar pass-toolbar-monitor" id="pass-toolbar-monitor">
        <div class="row">
            <div class="col s12 m12 l12">
                <button class="waves-effect waves-light btn btn-large" onclick="triggerPassengerBookModal('monitor');">查看監督
                    <i class="material-icons right">event</i>
                </button>
            </div>
        </div>
    </div>
</div>
