<div class="pass-pages pass-riding-wait" id="pass-riding-wait">
    <div class="pass-notice" id="notice">
        <div class="card">
            <div class="card-content white-text center-align">
                <p class="card-title"><i class="mdi-social-group-add"></i> 約 [arrival time] 分鐘</p>
                <p>抵達時間</p>
            </div>
            <div class="row card-detail">
                <div class="col s6 center-align">
                    <h4 class="card-title brown-text text-darken-4">[name]</h4>
                    <p class="medium-small brown-text text-darken-2">司機姓名</p>                        
                </div>
                <div class="col s6 center-align">
                    <h4 class="card-title brown-text text-darken-4">[licence]</h4>
                    <p class="medium-small brown-text text-darken-2">車牌號碼</p>                        
                </div>                    
                <div class="col s6 center-align">
                    <h4 class="card-title brown-text text-darken-4">[phone]]</h4>
                    <p class="medium-small brown-text text-darken-2">手機號碼</p>                        
                </div>
                <div class="col s6 center-align">
                    <h4 class="card-title brown-text text-darken-4">[model]</h4>
                    <p class="medium-small brown-text text-darken-2">車輛型號</p>                        
                </div>
            </div>
        </div>
    </div>
    <div class="pass-monitor" id="monitor">
        <ul class="collection" id="pass-riding-wait-monitor">
            <li class="collection-item avatar">
                <img class="circle" src="driver/unknown.png" alt>
                <p class="title user-name" id="user-name">[name]</p>
                <p class="user-phone" id="user-phone">[phone]</p>
                <button class="secondary-content waves-effect waves-green btn">取消監督</button>
            </li>
        </ul>
    </div>
</div>