<div class="pass-pages pass-riding" id="pass-riding">
    <div class="pass-map" id="map"></div>
    <div class="pass-toolbar">
        <div class="row">
            <div class="col s6 m6 l6">
                <a class="waves-effect waves-light btn btn-large" href="#modal-order">預約乘車
                    <i class="material-icons right">event</i>
                </a>
            </div>
            <div class="col s6 m6 l6">
                <a class="waves-effect waves-light btn btn-large" href="#modal-book">立即乘車
                    <i class="material-icons right">local_taxi</i>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- modal ordering -->
<div class="modal" id="modal-order">
    <div class="modal-content">
        <h4>預約 SCABER！</h4>
        <p>按下「預約乘車」我們將儘速爲您派車。</p>
    </div>
    <div class="modal-footer">
        <button class="modal-action waves-effect waves-green btn-flat">預約乘車</button>
    </div>
</div>

<!-- modal booking -->
<div class="modal" id="modal-book">
    <div class="modal-content">
        <h4>立即 SCABER！</h4>
        <p>按下「立即乘車」我們將儘速爲您派車。</p>
    </div>
    <div class="modal-footer">
        <button class="modal-action waves-effect waves-green btn-flat" onclick="goRiding()">立即乘車</button>
    </div>
</div>

<!-- modal wait -->
<div class="modal modal-wait" id="modal-wait">
    <div class="modal-content">
        <h4>正在派車中！</h4>
        <p>請您耐心等待，我們正在爲您派車。</p>
    </div>
    <div class="modal-footer valign-wrapper">
        <div class="preloader-wrapper right-align small active">
            <div class="spinner-layer">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal success -->
<div class="modal modal-succ" id="modal-succ">
    <div class="modal-content">
        <h5>SCABER 正在路上！</h5>
        <ul class="collection">
            <li class="collection-item avatar">
                <i class="material-icons circle">perm_identity</i> 
                <span class="title">司機姓名</span>
                <p id="driver-name">[name]</p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle">local_activity</i> 
                <span class="title">車牌號碼</span>
                <p id="user-phone">[license]</p>

            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle">call</i>
                <span class="title">手機號碼</span>
                <p id="user-email">[phone]</p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle">local_taxi</i>
                <span class="title">車輛型號</span>
                <p id="user-email">[model]</p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle">access_alarm</i>
                <span class="title">抵達時間</span>
                <p id="user-email">約 [arrival time] 分鐘</p>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-green btn-flat">關閉視窗</button>
    </div>
</div>

<!-- Google Map -->
<script>
var map;
var marker;
var infoWindow;
function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: { 
            lat: 25.040606, 
            lng: 121.536547 
        }
    });
    // infowindow
    infoWindow = new google.maps.InfoWindow({content: "SCABER"});
    // Custom marker
    var scaber_flag = {
        url: 'scaber_flag.png',
        size: new google.maps.Size(20,32),
        origin: new google.maps.Point(0,0),
        anchor: new google.maps.Point(0,32)
    };
    // shape of click 
    var scaber_flag_shape = {
        coords: [1,1,1,20,18,20,18,1],
        type: 'poly'
    };
    // marker init 
    marker = new google.maps.Marker({
        position: {lat: 25.040606,lng: 121.536547 },
        map: map,
        icon: scaber_flag,
        shape:scaber_flag_shape,
        title: "Your Position",
        zIndex: 1
    });
    // Add Marker Listen
    marker.addListener('click',function(){
        infoWindow.open(map,marker);
    });
}

const socket = io();

// Notify server to find a driver
function goRiding(){
    // get current location
    getCurrentLocation(function(err,data){
        if(err){
            console.log(data);
        }
        else{
            // set center 
            map.setZoom(14);
            map.setCenter(data);
            marker.setPosition(data);
            // Call waiting
        }
    });
}

// Socket IO section 
socket.on('find_driver_listen',function(rawdata){
    if(rawdata.header == "error"){
        triggerPassengerModal("waiting");
    }
    else{
        triggerPassengerModal("match");
    }
});
</script>

<!-- Google Map API -->
<script src="https://maps.googleapis.com/maps/api/js??sensor=false&libraries=places&callback=initMap"></script>