<!-- Sign-up Google -->
<div class="account-gp"  id="signup-gp">
    <form class="cpl s12 account-form" action="/auth/google" method="POST">
        <div class="row account-top">
            <div class="input-field col s12 center">
                <h4>Google 註冊</h4>
                <p class="center">立即加入 SCABER！</p>
            </div>
        </div>
        <div class="row account-input">
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="username" type="text" name="account">
                <label class="center-align" for="username" data-error="wrong" data-success="right">姓名</label>
            </div>
        </div>
        <div class="row account-input">
            <div class="input-field col s12">
                <i class="material-icons prefix">mail</i>
                <input id="email" type="email" name="email">
                <label class="center-align" for="email" data-error="wrong" data-success="right">電子信箱</label>
            </div>
        </div>
        <div class="row account-input">
            <div class="input-field col s12">
                <i class="material-icons prefix">call</i>
                <input id="phone" type="text" name="phone">
                <label class="center-align" for="phone" data-error="wrong" data-success="right">電話</label>
            </div>
        </div>

        <!-- Hidden type here -->
        <input id="user-type-gp" type="hidden" name="user_type" value="default">

        <div class="row account-input">
            <div class="input-field col s12">
                <button class="btn waves-effect waves-light col s12" type="submit" name="signup-gp">註冊</button>
            </div>
            <div class="input-field col s12">
                <p class="margin center medium-small sign-up">已經擁有 SCABER？
                    <a class="rd-signin" href="#signin">登入</a>
                </p>
            </div>
        </div>
    </form>
</div>