<!-- Sign-up Google -->

<div class="account-gp"  id="signup-gp">
    <form class="cpl s12 account-form">
        <div class="row account-top">
            <div class="input-field col s12 center">
                <h4>Google 註冊</h4>
                <p class="center">立即加入 SCABER！</p>
            </div>
        </div>
        <div class="row account-input">
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="username" type="text">
                <label class="center-align" for="username" data-error="wrong" data-success="right">姓名</label>
            </div>
        </div>
        <div class="row account-input">
            <div class="input-field col s12">
                <i class="material-icons prefix">mail</i>
                <input id="email" type="email">
                <label class="center-align" for="email" data-error="wrong" data-success="right">電子信箱</label>
            </div>
        </div>
        <div class="row account-input">
            <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                <input id="password" type="password">
                <label for="password" data-error="wrong" data-success="right">密碼</label>
            </div>
        </div>
        <div class="row account-input">
            <div class="input-field col s12">
                <a href="#" class="btn waves-effect waves-light col s12">註冊</a>
            </div>
            <div class="input-field col s12">
                <p class="margin center medium-small sign-up">已經擁有 SCABER？
                    <a id="start-signin" href="#signin">登入</a>
                </p>
            </div>
        </div>
    </form>
</div>
