<!-- Sign-up -->
<div class="account-signup" id="signup">
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s4">
                    <a class="active" href="#signup-app">SCABER</a>
                </li>
                <li class="tab col s4">
                    <a href="#signup-gp">Google</a>
                </li>
                <li class="tab col s4">
                    <a href="#signup-fb">Facebook</a>
                </li>
            </ul>
        </div>

        <div class="col s12 white" id="signup-app">
            <% include ../elements/signup-app %>
        </div>

        <div class="col s12 white" id="signup-gp">
            <% include ../elements/signup-gp %>
        </div>

        <div class="col s12 white" id="signup-fb">
            <% include ../elements/signup-fb %>
        </div>
    </div>
</div>