<!-- Sign-up Identity-->

<div class="account-signup-id"  id="signup-id">
    <form class="cpl s12 account-form">
        <div class="row account-top">
            <div class="input-field col s12 center">
                <h4>選擇身份</h4>
                <p class="center">立即加入 SCABER！</p>
            </div>
        </div>
        <div class="row account-input">
            <div class="input-field col s8 offset-s2 m5 offset-m1 l5 offset-l1">
                <a class="btn btn-identity waves-effect waves-light col s12" id="signup-pass" href="#signup-pass">乘客</a>
            </div>
            <div class="input-field col s8 offset-s2 m5 l5">
                <a class="btn btn-identity waves-effect waves-light col s12" id="signup-driver" href="#signup-driver">司機</a>
            </div>
        </div>
        <div class="row account-input">
            <div class="input-field col s12">
                <p class="margin center medium-small sign-up">已經擁有 SCABER？
                    <a id="id-signin" href="#signin">登入</a>
                </p>
            </div>
        </div>
</form>
</div>