/** style.scss **/
/* Import herlpes */
/** helpers/variables.scss **/
/* ratio variables */
/* border variables */
/* colors variables */
/* cursor variables */
/* font-family */
/* font-size */
/* font-weight */
/* media queries variables */
/* view */
/* inline elements */
/* ::selection */
/* ::placeholder */
/* navbar */
/* start */
/* account */
/* passenger */
/* modal */
/* button */
/** helpers/_mixin.scss **/
/* transform */
/* transition */
/* user-select */
/* ::selection */
/* ::placeholder */
/* html */
/* body */
/* navbar */
/* start */
/* account */
/* passenger */
/* modal */
/* button */
/** helpers/_theme.scss **/
/* selection effects */
::selection {
  background-color: #3f3133;
  color: #ffcf47;
  text-shadow: none; }

::-moz-selection {
  background-color: #3f3133;
  color: #ffcf47;
  text-shadow: none; }

img::selection {
  background-color: transparent;
  color: #ffcf47; }

img::-moz-selection {
  background-color: transparent;
  color: #ffcf47; }

/* placeholder effects */
::-webkit-input-placeholder {
  color: #ffcf47;
  font-family: Yantramanav, sans-serif;
  font-size: 14px; }

::-moz-placeholder {
  color: #ffcf47;
  font-family: Yantramanav, sans-serif;
  font-size: 14px; }

:-ms-input-placeholder {
  color: #ffcf47;
  font-family: Yantramanav, sans-serif;
  font-size: 14px; }

body {
  overflow: hidden !important; }

/* modal */
.modal .modal-content {
  background-color: #ffcf47;
  color: #3f3133; }
  .modal .modal-content .collection {
    border: none; }
    .modal .modal-content .collection li {
      border-bottom: none;
      background-color: #ffcf47;
      min-height: 64px !important;
      padding-bottom: 0; }
      .modal .modal-content .collection li i {
        background-color: #3f3133 !important;
        color: #ffcf47 !important; }

.modal .modal-footer {
  background-color: #3f3133; }
  .modal .modal-footer button {
    color: #ffcf47; }

.modal-form .modal-content input {
  border-bottom-color: #3f3133;
  color: #3f3133; }

.modal-form .modal-content label {
  color: #3f3133; }

.modal-succ .modal-content {
  background-color: #ffcf47;
  color: #3f3133;
  padding-bottom: 6px; }
  .modal-succ .modal-content .collection {
    border: none; }
    .modal-succ .modal-content .collection li {
      border-bottom: none;
      background-color: #ffcf47;
      min-height: 64px !important;
      padding-bottom: 0; }
      .modal-succ .modal-content .collection li i {
        background-color: #3f3133 !important;
        color: #ffcf47 !important; }

.modal-wait .modal-footer {
  background-color: #3f3133;
  overflow: hidden;
  justify-content: center; }
  .modal-wait .modal-footer button {
    color: #ffcf47; }
  .modal-wait .modal-footer .spinner-layer {
    border-color: #ffcf47; }

/* button */
.btn-identity {
  font-size: 1.7rem;
  font-weight: 700;
  height: 20%;
  line-height: 7.5rem; }

/** helpers/_keyframes.scss **/
/* Import Media */
/* Import Components */
/** components/_nav.scss **/
.nav-default {
  background-color: #ffcf47; }
  .nav-default .brand-logo {
    font-family: Metrophobic, sans-serif;
    letter-spacing: 5px; }
    .nav-default .brand-logo img {
      height: 80%;
      margin: 0 2.5px;
      vertical-align: middle;
      width: auto; }
  .nav-default .side-nav {
    background-color: #ffcf47;
    color: #3f3133; }

/* Import Layout */
/** layout/_start.scss **/
.sct-start {
  background-color: #e79535;
  height: 100vh;
  position: relative;
  vertical-align: middle;
  width: 100vw;
  z-index: 100; }
  .sct-start .start-logo {
    position: relative;
    top: 35%;
    text-align: center;
    vertical-align: middle;
    width: 100vw; }
    .sct-start .start-logo img {
      height: 25%;
      width: auto; }

/** layout/_account.scss **/
.sct-account {
  background-color: #e79535;
  display: table;
  height: 100vh !important;
  position: absolute;
  vertical-align: middle;
  width: 100vw; }
  .sct-account .account-panel {
    display: table-cell;
    position: relative;
    vertical-align: middle; }
    .sct-account .account-panel .card-panel {
      display: table;
      height: 90vh;
      position: relative;
      left: 5%;
      max-width: 90% !important; }
    .sct-account .account-panel .account-signin {
      display: table-cell;
      vertical-align: middle; }
      .sct-account .account-panel .account-signin .account-top img {
        height: auto;
        font-family: "Metrophobic";
        font-size: 1.5rem;
        max-width: 50%; }
    .sct-account .account-panel .account-signup-id {
      display: table-cell;
      vertical-align: middle; }
    .sct-account .account-panel .account-signup {
      display: table-cell; }
      .sct-account .account-panel .account-signup ul a {
        font-family: "Yantramanav";
        font-size: 1rem;
        text-transform: none; }
    .sct-account .account-panel .account-input {
      margin: 0; }

/* Import Pages */
/** layout/_passenger.scss **/
.pass-profile {
  display: block;
  margin-top: 0; }
  .pass-profile .card .card-image .card-profile-name {
    left: 100px !important;
    padding: 0 !important; }
  .pass-profile .card .card-content {
    background-color: #ffcf47; }
    .pass-profile .card .card-content .card-profile-image {
      cursor: pointer;
      height: 60px;
      position: absolute;
      top: 110px;
      width: 60px;
      z-index: 1; }
    .pass-profile .card .card-content .card-profile-edit {
      margin-top: -45px; }
      .pass-profile .card .card-content .card-profile-edit i {
        background-color: #3f3133 !important;
        color: #ffcf47 !important; }
    .pass-profile .card .card-content .card-profile-stat {
      margin: 0; }
  .pass-profile .card .card-reveal .collection {
    border: none !important; }
    .pass-profile .card .card-reveal .collection li {
      border-bottom: none;
      min-height: 64px !important; }
      .pass-profile .card .card-reveal .collection li i {
        background-color: #3f3133;
        color: #ffcf47; }

.pass-riding .pass-map {
  height: 84vh;
  width: 100%; }

.pass-riding .pass-toolbar {
  background-color: #ffcf47;
  height: 10vh;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10; }
  .pass-riding .pass-toolbar .row {
    margin: 0; }
    .pass-riding .pass-toolbar .row .col {
      padding: 0; }
      .pass-riding .pass-toolbar .row .col .btn {
        background-color: #ffcf47;
        border-radius: 0;
        color: #3f3133;
        height: 10vh;
        width: 100%; }

.pass-riding-wait .pass-notice {
  height: 34vh;
  width: 100%; }
  .pass-riding-wait .pass-notice .card {
    margin: 0; }
    .pass-riding-wait .pass-notice .card .card-content {
      background-color: #3f3133; }
    .pass-riding-wait .pass-notice .card .card-detail {
      background-color: #d8d8d8; }

.pass-riding-wait .pass-monitor {
  position: relative; }
  .pass-riding-wait .pass-monitor .collection {
    height: 57vh;
    overflow-y: auto !important;
    border: none;
    width: 100%; }
    .pass-riding-wait .pass-monitor .collection li {
      border-bottom: none;
      background-color: #ffcf47;
      min-height: 64px !important;
      padding-bottom: 0; }
      .pass-riding-wait .pass-monitor .collection li button {
        background-color: #3f3133 !important;
        color: #ffcf47 !important; }
